@media screen and (max-width: 767px) {
    #contentdiv {
      padding: 0 px;
      
    }

    #contentdiv img{
      margin-bottom: 0;
      width: 50%;
    }
  
    #para1 {
      font-size: 30px;
      margin-bottom: 0;
    }
  
    #para2 {
      font-size: 13px;
    }
  
    #join_button{
      font-size: 13 px;
      padding: 0;
    }
    button a {
      padding: 8px 16px;
    }
    .box{
      padding: 0;
    }

    #aboutus{
      padding-bottom: 0;
    }
    #aboutus img{
        width: 80%;
    
    }

    /*------------------------------------------------*/
    #aboutus {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }
    #aboutus img{
      margin-top: 3%;
      width: 80%;
    }
    
      #aboutheading {
        padding: 20px;
      }
    
      #aboutus p {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
      }
    
      #characterstic {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content:safe; /* Center the circles horizontally */
        
      }
    
      .circle {
        margin: 5px;
        width: 3 rem;
        flex-basis: calc(33.33% - 10px); /* Adjust the width of the circles */
      }
    
  }
/* Media Query for smaller screens */
@media (max-width: 767px) {
  #flexdetails {
      flex-direction: row;
  }

  #contactspage .container {
    padding: 0 15px;
  }

  #contactspage .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #contactspage .col-lg-6 {
    width: 50%;
  }

  #tab {
      justify-content: space-between;
  }

  #tab img {
      height: 8%;
      width: 8%;
  }
  #Ontop {
    position: relative;
  }
  
  .navbar-toggler {
    top: 5px;
    left: 15px;
  }

}