@media screen and (max-width: 767px) {
    #contentdiv {
      padding: 10px;
      
    }
    
  
    #para1 {
      font-size: 30px;
    }
  
    #para2 {
      font-size: 16px;
    }
  
    button a {
      padding: 8px 16px;
    }
    .box{
        margin-bottom: 10 rem;
    }
    .img{
        width: 80%;
    }

    /*------------------------------------------------*/
    #aboutus {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
      }
    
      #aboutheading {
        padding: 20px;
      }
    
      #aboutus p {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
      }
    
      #characterstic {
        margin-top: 5px;
      }
    
      .circle {
        margin: 5px;
        width: auto; /* Set width to auto for dynamic sizing */
      }
    
  }
